DB_HOST=localhost
DB_PORT=5432
DB_NAME=dentis_db
DB_USER=postgres
DB_PASSWORD=12345

SECRET_KEY=cambia_esto_por_una_clave_larga_y_privada

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=tu_correo@gmail.com
SMTP_PASSWORD=tu_password_de_aplicacion
SMTP_FROM=SmartTooth <tu_correo@gmail.com>
SMTP_USE_TLS=true

# Solo para desarrollo local si todavía no configuras SMTP:
SMTP_DEBUG_CODE=false
