DB_HOST=localhost
DB_PORT=5432
DB_NAME=dentis_db
DB_USER=postgres
DB_PASSWORD=12345

SECRET_KEY=cambia_esto_por_una_clave_larga_y_privada

BREVO_API_KEY=tu_api_key_de_brevo
BREVO_SENDER_EMAIL=tu_remitente_verificado@tudominio.com
BREVO_SENDER_NAME=SmartTooth
FRONTEND_APP_NAME=SmartTooth

# Solo para desarrollo local si todavía no configuras Brevo:
DEBUG_RESET_CODE=false
